PORT=5000
JWT_SECRET=supersecretjwtkey
CLOUDINARY_CLOUD_NAME=dwpbbxrcs
CLOUDINARY_API_KEY=277785324838344
CLOUDINARY_API_SECRET=KrYwlO5n3HaYtBzv-vlDuVIBl80
MONGODB_URI=mongodb+srv://username:OMY13456@cluster.mongodb.net/?appName=cluster
